<article>
	<header>
		<h1 class="title-1">{{ post.name }}</h1>
		<time datetime="{{ post.created_at }}" pubdate>{{ post.created }}</time>
	</header>

	<div ng-bind-html="post.body"></div>

	<aside>
		<span ng-repeat="category in post.categories"><span class="label label-default"><a href="/categories/{{ category.permalink }}">{{ category.name }}</a></span> </span>
	</aside>

	<div class="social">
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="{{ post.name }}" data-url="{{ post.path }}", data-via: "marciotrindade">Tweet</a>
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<g:plusone size="medium"></g:plusone>
		<script type="text/javascript">
			window.___gcfg = {lang: 'pt-BR'};
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>
	</div>
</article>

<div id="disqus_thread" name="comments"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_identifier = '{{ post.id }}';
	var disqus_shortname = 'marciotrindade';
	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
