/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
$red: #AF0000;
$black: black;
$wine: #700000;
$font: 13px helvetica, arial, sans-serif;

@mixin border-radius($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin border-radius-top-right($radius){
  @include border-radius-top-right($radius);
}

@mixin border-radius-bottom-right($radius){
  @include border-radius-bottom-right($radius);
}

@mixin border-radius-bottom-left($radius){
  @include border-radius-bottom-left($radius);
}

@mixin border-radius-top-left($radius){
  @include border-radius-top-left($radius);
}

@mixin border-radius-top($radius){
  @include border-radius-top-left($radius);
  @include border-radius-top-right($radius);
}

@mixin border-radius-right($radius){
  @include border-radius-top-right($radius);
  @include border-radius-bottom-right($radius);
}

@mixin border-radius-bottom($radius){
  @include border-radius-bottom-right($radius);
  @include border-radius-bottom-left($radius);
}

@mixin border-radius-left($radius){
  @include border-radius-top-left($radius);
  @include border-radius-bottom-left($radius);
}

@mixin border-radius-top-right($radius){
  border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin border-radius-bottom-right($radius){
  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin border-radius-bottom-left($radius){
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;
}

@mixin border-radius-top-left($radius){
  border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
}

@import "../reloaded.css.scss";
@import "theme.css.scss";
@import "form.css.scss";
@import "paginate.css.scss";
