$red: #AF0000;
$black: black;
$wine: #700000;
$font: 13px helvetica, arial, sans-serif;

@import "../mixins.css.scss";
@import "../reloaded.css.scss";
@import "theme.css.scss";
@import "form.css.scss";
@import "paginate.css.scss";
