a {
  color: $red;
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  color: $red;
  font-weight: normal;
}
h1 {
  margin: 15px 0;
  font-size: 22px;
}
h2 {
  font-size: 22px;
  margin: 15px 0;
  font-weight: normal;
}
h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal;
}
h4 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal;
}
hr {
  height: 1px;
  border: 0;
}
strong {
  font-weight: bold;
}

body {
  background-color: #E5E5E5;
  color: #222;
  font: 13px helvetica, arial, sans-serif;
}
#header {
  background-color: $red;
  display: block;
  position: relative;
  width: 1223px;
  padding: 20px 0;
  width: 100%;
  a {
    color: white;
  }
  h1 {
    font-size: 26px;
    font-weight: normal;
    padding: 10px 0 5px;
    margin: 0 0 0 20px;
    a {
      text-decoration: none
    }
  }
  #nav {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 15px;
    li {
      float: left;
      padding: 5px 10px;
      display: list-item;
    }
    li:first-child {
      padding-left: 0;
    }
  }
}
.flash {
  text-align: center;
  margin: 15px 20px;
  p {
    padding: 8px 20px;
    border: 1px solid #fbb;
    background-color: #fdd;
    @include border-radius(5px);
  }
  .notice {
    border: 1px solid #1FDF00;
    background-color: #BBFFB6;
  }
}

#breadcrumb {
  padding: 0 20px;
  margin-bottom: 10px;
}

#c {
  margin: 0 20px;
  table  {
    width: 100%;
  }
}
.content p {
  margin-bottom: 10px;
}

#main {
  .content {
    padding: 15px;
    h2 {
      margin: 0 0 10px 0;
    }
  }
}

#sub_nav {
  a {
    display: block;
    padding: 10px 15px;
    float: left;
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  .first a {
    @include border-radius-top-left(4px);
  }
  .active a {
    background-color: $black;
  }
}

.top {
  display: block;
  background-color: $red;
  border-bottom: 5px solid $black;
  @include border-radius-top-left(4px);
  @include border-radius-top-right(4px);
  min-height: 35px;
}

.aside {
  width: 200px;
  padding-right: 20px;
  vertical-align: top;
  h3.top {
    color: white;
    margin: 0 ;
    padding: 10px 0 0 10px;
    font-size: 15px;
    min-height: 10px;
    height: 25px;
    line-height: 14px;
  }
  ul {
    padding-bottom: 10px;
  }
  a {
    background: #FFF;
    border-bottom: 1px solid #F0F0EE;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
  }
  a:hover, .aside a:active {
    background: #470E0E;
    color: #FFF;
  }
}

.block {
  margin-bottom: 20px;
  @include border-radius-bottom-left(4px);
  @include border-radius-bottom-right(4px);
  background: white;
  width: 100%;
}

.table {
  width: 100%;
  margin-bottom: 10px;
  th {
    background: $black;
    border-bottom: 3px solid $wine;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  th.first {
    width: 30px;
    @include border-radius-top-left(4px);
  }
  th.last {
    width: 200px;
    @include border-radius-top-right(4px);
  }
  td {
    border-bottom: 1px solid #F0F0EE;
    padding: 10px;
    vertical-align: middle;
  }
  td.last {
    text-align: right;
  }
}

#footer {
  display: block;
  clear: both;
  background: #262626;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  @include border-radius(4px);
}

.no_results {
  text-align: center;
  height: 28px;
  padding-top: 12px;
  background-color: #fdd;
}

.clear {
  clear: both;
}

.show_for .collection {
  margin: -10px 0 10px 5px;
}

.inner {
  margin-bottom: 10px;
}