default: &default
  secret_key_base: 124567890qwertyuiopasdfghjklzxcvbnm124567890qwertyuiopasdfghjklzxcvbnm
  devise_secret_key: 124567890qwertyuiopasdfghjklzxcvbnm124567890qwertyuiopasdfghjklzxcvbnm
  db_host: localhost
  db_username: marciotrindade
  db_password:
  email: marciotrindade@gmail.com
  smtp_settings:
    address: host
    port: port
    domain: domain
    authentication: login
    user_name: username
    password: password

test:
  <<: *default

development:
  <<: *default

production:
  <<: *default
