%div.errors
	%h1= t(:page_not_found, :scope => (:errors, :message))
	
	%p A página que você procura não foi encontrada. Verifique se você digitou o endereço corretamente ou ela pode ter sido removida.
