%div.errors
	%h1.center Deu pau!
	%p= image_tag('errors/500.jpg', :size => "400×175")
	%p Infelizmente deu pau no nosso sistema, por favor tente novamente mais tarde, pois já estamos tentando corrigir.
