- content_for :navigation do
	%li.first.active= link_to t("web-app-theme.list"), collection_path
	%li= link_to t("web-app-theme.new"), new_resource_path

- admin_title resource_class.model_name.human(:count => 2)

= render_or_default 'index'