- admin_title(t(:reorder) + resource_class.model_name.human(:count => 2))

%ul#order
	- @items.each do |item|
		%li{:id => "item_#{item.id}"}= item.name

= sortable_element 'order', :complete => visual_effect(:highlight, 'order'), :url => { :action => "order" }

%p= link_to t(:back), collection_url