p {
  font-size: 1rem;
}

.ls-tag {
  font-size: 0.80rem;
}

form {
  margin-top: 40px;
}

article {
  margin-bottom: 30px;
}
article time {
  font-style: italic;
  display: block;
  margin-bottom: 20px;
  margin-top: 15px;
  color: #555555;
}

article aside {
  margin-top: 20px;
}

article aside p {
  margin-top: 10px;
}

.social {
  margin-top: 20px;
}
